# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code settings
.vscode/

# Sensitive/resume files
data/resume.pdf

.env
.env.production
backend.log
.env.local
uploads/
# Database files
jobs.db
*.db
